* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #E6E6E8;
  margin: 30px 0 70px;
}

h1 {
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
}

h3 {
  margin: 30px 0;
}

.panel-left,
.panel-right {
  margin: 40px auto 0;
  display: inline-block;
  width: 48%;
  overflow: hidden;
  text-align: center;
}

p {
  font-size: 20px;
}

h3 {
  font-size: 24px;
  margin: 15px 0;
  text-align: center;
}
h2{
  /* margin: 20px auto 0; */
  font-size: 35px;
}
.select {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}
.select img {
  width: 200px;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
}
button {
  display: block;
  padding: 5px 20px;
  border: 2px solid #333;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  margin: 10px auto;
  transition: .3s;
  font-size: 30px;
  cursor: pointer; 
}
button:hover {
  background-color: #333;
  color: #E6E6E8;
}
span {
  font-weight: bold;
}